#video-player {
	width: 100%;
	display: block;
}

#video-container:hover #video-controls .video-control,
#video-container:hover #video-controls .video-controls-background {
	opacity: 1;
}

#video-container {
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 20px;

	transition: opacity 100ms linear;
	color: white;
}

#video-controls .video-controls-background {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

#video-controls img {
	width: 15px;
	height: 15px;
}

#video-controls .video-button {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	outline: none;
	padding: 0px;
	cursor: pointer;
}

#video-controls .always-present {
	opacity: 1;
	z-index: 2;
}

#video-controls .video-control {
	opacity: 0;
	transition: opacity 100ms linear;
	z-index: 2;
}