.community-section {
	background-color: white;
	border-radius: var(--border-radius);
	border: 1px solid rgb(200, 200, 200);
}

.community-section .title {
	position: relative;
	height: 80px;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	background-image: url("/public/assets/images/communities.jpg");
}

.community-section .title>span {
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: white;
	font-weight: 600;
}

.community-section .community-content {
	display: flex;
	align-items: center;
	padding: 10px 0px;
	padding-left: 25px;
	border-top: 1px solid var(--light-grey);
}

.community-section .community-content .community-image {
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
}

.community-section .community-content .community-name {
	font-weight: 600;
	padding-left: 5px;
}

.community-section .community-actions {
	padding: 0px 15px;
}

.community-section .community-actions>.primary-button {
	margin-top: 15px;
}

.community-section .community-actions .secondary-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0px;
}